.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  
}

.message {
    color: darkred; 
    font-size: 36px; 
}

a {
    color: magenta; 
    font-weight: bold;
    font-size: 26px;  
}

