<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %} <title>Add Patient</title> {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <form action = "" method = 'post'>
        <label for='uniqueId'>Unique ID: </label>
        <input type='text' id='uniqueId' name='uniqueId'><br><br>

        <label for='firstName'>First Name: </label>
        <input type='text' id='firstName' name='firstName'><br><br>

        <label for="lastName">Last Name</label>
        <input type='text' id='lastName' name='lastName'><br><br>

        <label for='dob'>Date of Birth</label>
        <input type='date' id='dob' name='dob'><br><br>

        <input type='submit' value="Submit">
    </form>
</body>
</html>