{% extends "base_generic.html" %}

  {% block content %}

    <form action = "" method = 'POST'>

        <br>
        <!-- Figured out how to display error messages from this post in Stack Overflow: 
          https://stackoverflow.com/questions/47923952/python-django-how-to-display-error-messages-on-invalid-login-->
        
          {% if messages %}
        
          {% for message in messages %}
          <strong><p class="message">{{ message }}</p></strong>
          {% endfor %}
        
        {% endif %}
        
        {% csrf_token %}
        {{form.as_p}}

        <button type='submit'>Submit</button>
        
    </form>

  {% endblock %}

