{% extends "base_generic.html" %}


{% block content %}  

<form action = '' method='GET'>


<br><input type='text' id='uniqueId' name='fetch'><br><br>


  
<input type='submit' label='Submit'>
</form>
<br>
{%for patient in fetch%}

    

    <p>
    <strong>Patient's Full Name:</strong>
    {{patient.first_Name}}
    {{patient.last_Name}}
    </p>

    <p><strong>Date of Birth:</strong> {{patient.date_of_birth}}</p>

    <p><strong>Address: </strong>{{patient.address}}</p>

    <p><strong>Phone: </strong>{{patient.phone}}</p>

    <p><strong>Email: </strong> {{patient.email}} </p>

    <p><strong>Reason for Visit: </strong> {{patient.reason_for_visit}}</p>

    

{%endfor%}



{% endblock %}